@model SportSystem.WebApp.ViewModels.PlayerViewModel

<div class="panel panel-body panel-info col-md-4">
    <h4><strong>@Model.FullName</strong></h4>
    <p>Born: @Model.BirthDate</p>
    <p>Height: @Model.Height</p>
</div>
